@page "/"
@using Blog.Application.Contexts.AccountContext
@using Blog.Application.Contexts.ViewModels
@using System.Text.Json
@using Microsoft.AspNetCore.Components.Authorization
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthStateProvider
@inject ApiService apiService
@layout EmptyLayout

<body>
    <div class="box">
        <h2>Blog</h2>
        <input type="text" placeholder="Digite seu e-mail" class="input-field" @bind="accountViewModel.Email">
        <input type="password" placeholder="Digite sua senha" class="input-field" @bind="accountViewModel.Password">
        <div class="btn-container">
            <button type="button" class="btn btn-dark" @onclick="SubmitForm">Fazer login</button>
            <button type="button" class="btn btn-dark" @onclick="RedirectToRegister">Registrar-se</button>
        </div>
    </div>
</body>

@code {
    AccountViewModel accountViewModel = new();
    private async Task SubmitForm()
    {
        using var httpClient = new HttpClient();

        try
        {
            var res = await apiService.SendRequestAsync<Blog.Application.Contexts.ViewModels.ResponseLogin>(HttpMethod.Post, $"http://159.65.182.154:8080/v1/authenticate", accountViewModel);

            if (res.IsSuccess)
            {
                var token = res.Data.Token;

                await oLocalStore.SetItemAsync("token", token);

                var authState = await AuthStateProvider.GetAuthenticationStateAsync();

                if (authState.User.Identity.IsAuthenticated)
                {
                    NavManager.NavigateTo("/feed");
                }
            }
        }
        catch (Exception)
        {
            throw;
        }
    }

    private void RedirectToRegister()
    {
        NavManager.NavigateTo("/register");
    }
}
