.box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #333;
    color: #fff;
    width: 900px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.input-field {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 20px 0; /* Adiciona margem superior e inferior */
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.btn-container .btn:last-child {
    margin-left: 5px;
}
