@page "/register"
@using Blog.Application.Contexts.ViewModels
@inject ApiService apiService
@inject NavigationManager NavManager
@layout EmptyLayout


<body>
    <div class="box">
        <h2>Registrar-se</h2>
        <input type="text" placeholder="Digite seu nome" class="input-field" @bind="accountViewModel.Name">
        <input type="text" placeholder="Digite seu e-mail" class="input-field" @bind="accountViewModel.Email">
        <input type="password" placeholder="Digite sua senha" class="input-field" @bind="accountViewModel.Password">
        <div class="btn-container">
            <button type="button" class="btn btn-dark" @onclick="SubmitForm">Registrar-se</button>
        </div>
    </div>
</body>

@code {
    AccountViewModel accountViewModel = new();

    private async Task SubmitForm()
    {
        using var httpClient = new HttpClient();

        try
        {
            var res = await apiService.SendRequestAsync<Blog.Application.Contexts.ViewModels.ResponseLogin>(HttpMethod.Post, $"http://159.65.182.154:8080/v1/users", accountViewModel);

            if (res.IsSuccess)
            {
                var token = res.Data.Token;

                NavManager.NavigateTo("/");
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
}
