@using Blog.Application.Contexts.PostContext.Entities
@using System.Net.Http.Json
@using System.Text
@inject ApiService apiService

<div class="post-card" data-id="@Post.Id">
    <div class="post-card-content">
        <h4>@Post.Title</h4>
        <p>@Post.Description</p>
    </div>
    <div class="btn">
        <button type="button" class="btn btn-dark" @onclick="@(async () => { await DeletePost(Post); })">Excluir</button>
    </div>
</div>

@code {
    [Parameter]
    public Post Post { get; set; }

    [Parameter]
    public EventCallback<Post> Excluir { get; set; }
    [Parameter]
    public EventCallback<Post> Editar { get; set; }


    private async Task DeletePost(Post post)
    {
        try
        {
            await Excluir.InvokeAsync(post);
        }
        catch (Exception ex)
        {
            Console.Write(ex.Message);
        }
    }

    private async Task UpdatePost(Post post)
    {
        try
        {
            await Editar.InvokeAsync(post);
        }
        catch (Exception ex)
        {
            Console.Write(ex.Message);
        }
    }
}
